# AI Configuration
AI_PROVIDER=claude
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
OLLAMA_HOST=

API_KEY=change-in-production
FRONTEND_URL=http://localhost:5173 #this should also change in production 

REDIS_URL=redis://redis:6379/0
